@page "/"
@inject HttpClient client
@inject ICommonService commonService
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
	<Authorized>
		<h3>
			Hello @context.User.DisplayFullName() !!
			@{
				if (UserIds.Count > 1)
				{
					<span class="user-online-count-container">
						<div class="user-online-count">Users online: @UserIds.Count</div>
					</span>
				}
			}
		</h3>
		@{
			var loggedInUserId = context.User.GetUserId();
			if (string.IsNullOrEmpty(activeUserId))
			{
				activeUserId = loggedInUserId;
			}
			if (Users == null)
			{
				<text>Loading users and their lists...</text>
			}
			else
			{
				<Animate Animation="Animations.FadeUp" Duration="TimeSpan.FromSeconds(0.5)">

				<PhotoGrid Title="All users with their gift counts:"
				   ActiveUserId="@activeUserId" ActiveUserIdChanged="@UserClicked"
				   Users="@Users" OnlineUsers="@UserIds"
				   	@ref="PhotoGridComponent" />

				<ListViewer CurrentListUserId="@activeUserId" Users="@Users"
					LoggedInUserId="@loggedInUserId" @ref="ListViewerComponent" />

				<ChatBox OnlineUsersUpdated="@GetOnlineUsers"
				 PhotoGridComponent="@PhotoGridComponent" />

				</Animate>
			}
		}

	</Authorized>
	<Authorizing>
		<div class="full-screen">Checking authorization...</div>
	</Authorizing>
</AuthorizeView>