<div class="alert" role="alert">
    <span class="extra-ui">
        <span class="oi oi-cart mr-2" aria-hidden="true"></span>
        <strong>@Title</strong>
    </span>

    @if (Users != null && Users.Count > 0)
    {
        <div class="scroll-container">
            @foreach (var person in Users.OrderByDescending(u => u.Id == ThisUserId).ThenByDescending(u => OnlineUsers.Contains(u.Id)))
            {
                if (person != null)
                {
                    <span style="position:relative">
                        <a class="user-image-container @person.ActiveClass" @onclick="@(() => UpdateActiveUserId(person.Id))" title="@person.DisplayName()">
                            <img class="@person.ActiveClass user-image" src="@person.RenderPicture()"><span class="user-list-count">@person.ListCount</span>
                        </a>
                    </span>
                }
            }
        </div>
    }
</div>